<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<h1>Hello Nodejs !</h1>
<p id='hello'> hello </p>
<p id='thread'> thread </p>
<p id='ajaxid'> ajax</p>

<script type=text/javascript src="{{url_for('static',filename='js/script0.js')}}" runat='server'>	</script>

<button type="button" onclick="hello()"> hello click </button>

<button type="button" onclick="document.getElementById('thread').innerHTML='thread'"> thread start </button>

<button type="button" onclick="ajaxf()"> ajax method </button>

<script>
        ajaxf = () => {
                var xmlhttp;
                
                xmlhttp =  new XMLHttpRequest();
                xmlhttp.onreadystatechange = () => {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200)
                                document.getElementById('ajaxid').innerHTML = xmlhttp.responseText;
                                console.log("set ajax end");
                        }
                
         //       date = Date();
         //       console.log(date);
                xmlhttp.open("GET","00.php?time="+Math.random(),true);
                xmlhttp.send();
        }

</script>

<!--
<script>
var c=0
var t

function hello()
{
        document.getElementById('hello').innerHTML= c;
        c=c+1;
        t=setTimeout('hello()',1000);

}
</script>

-->
</body>
</html>
