<!DOCTYPE html>
<html>
<head>
</head>

<body>

<script type=text/javascript src="{{url_for('static',filename="js/scWebRTC.js")+'?f=14'}}">
</script>

<button id="connectButton" name="connectButton" class="buttonleft">
  Connect
</button>
<button id="disconnectButton" name="disconnectButton" class="buttonright" disabled>
  Disconnect
</button>

  <div class="messagebox">
    <label for="message">Enter a message:
      <input type="text" name="message" id="message" placeholder="Message text"
              inputmode="latin" size=60 maxlength=120 disabled>
    </label>
    <button id="sendButton" name="sendButton" class="buttonright" disabled>
      Send
    </button>
  </div>


<div class="messagebox" id="receivebox">
  <p>Messages received:</p>
</div>

</body>
</html>
